###############################################################
#                   Authelia configuration                    #
###############################################################

host: <HOST>
port: <PORT>

server:
  read_buffer_size: 4096
  write_buffer_size: 4096
  path: "authelia"

log_level: debug
jwt_secret: somethingsomethingrandomrecret
default_redirection_url: https://<DOMAIN_URL>

duo_api:
  hostname: api-somenumber.duosecurity.com
  integration_key: SOMESECRETKEY
  secret_key: somelongersecretkey

authentication_backend:
  disable_reset_password: false
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      key_length: 32
      salt_length: 16
      memory: 512
      parallelism: 8

access_control:
  default_policy: deny
  rules:
    - domain:
        - <DOMAIN_URL>
        - "*.<DOMAIN_URL>"
      policy: two_factor

session:
  name: authelia_session
  secret: somerandomsecret
  expiration: 1h
  inactivity: 5m
  remember_me_duration: 1M
  domain: <DOMAIN_URL>

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

storage:
  local:
    path: /config/db.sqlite3

notifier:
  disable_startup_check: false
  smtp:
    username: myemail@gmail.com
    password: longpassword
    host: smtp.gmail.com
    port: 587
    sender: myemail@gmail.com
    subject: "[Authelia] {title}"
    startup_check_address: test@authelia.com
    trusted_cert: ""
    disable_require_tls: false
    disable_verify_cert: false
